$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$black: #231d1b; // #231d1b black
$pink: #ffebdb; // #ffebdb pink
$otherColor: #ffebdb + #231d1b; // Color mix!
$containerWidth: 700px;
$smContainerWidth: 80%;
$gutter: 14px;
$catalogWidth: ($containerWidth / 3) - ((2 * $gutter) / 3);
$catalogThirdWidth: $catalogWidth - $gutter;
$jumbotronSize: $containerWidth / (4 * $catalogWidth);
$catalogGridThird: 3;


@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: $black;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-container{
    width: $containerWidth; // If device screen is narrower than 700px, switch to
    @media screen and (max-width: 700px) {
      width: $smContainerWidth;
    }
    margin: 0 auto;
}

nav ul li {
    .navy {
        color: $black;
    }
}
ul nav li.active a {
    color: #ffffff;
    background-color: $black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.footer-options{
  list-style-type: none;
  li{
    list-style: none;
    float: left;
    padding-left: 15px;
    &:first-child{
      padding-left: none;
    }
    padding-right: 15px;
    border-right: 1px solid black;
    &:last-child{
      border-right: none;
    }
  }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: $black;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    h1 {
      color: $otherColor;
      font-size: $jumbotronSize;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.catalog {
    padding: 0px;
    height: auto;
    margin-bottom: 40px;
    .search {
        margin: 14px 0;
    }
    .catalog-list {
        margin:40px 0;
        .catalog-item {
            width:$catalogWidth;
            height:auto;
            margin:14px $gutter 14px 0;
            display: inline;
            float:left;
            .catalog-item-imgUrl {
                width: $catalogWidth;
                height: $catalogWidth;
                padding: 0px;
                margin-bottom: 14px;
                background-color: $pink;
            }
        }
        .catalog-item:nth-child(#{$catalogGridThird}n){
            width:$catalogThirdWidth;
            margin:14px 0 14px 0;
            @media screen and (max-width:700px) {
                width:$catalogWidth;
            }
        }
    }
    .input-group-addon {
        background-color: $pink;
    }

    .catalog-list.clearfix {
        display: inline;
        &:after {
            content: ".";
            display: inline;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 100% ;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

