<div ng-include="'/views/nav-bar.html'"></div>

<div class="lead" ng-controller="MainCtrl">
    <div class="jumbotron">
        <h1>{{headline}}</h1>
    </div>

    <div class="row marketing">
        <h4>Handmade Italian watch straps.</h4>
        <p>Using only the finest materials available, and with techniques honed over generations, our artisans craft each and every watch strap we make by hand.</p>
    </div>
<ul ng-repeat="item in items">
    <li>{{item}}
    </li>
</ul>
    <p>TOTAL STRAPS = {{strapQuery.items.length}}</p>
    <div class="row">
        
        <dl class="dl-horizontal" ng-repeat='item in strapQuery.items'>
            <dt>Name</dt>
            <dd>{{item.name}}</dd>
            <dt>Type</dt>
            <dd>{{item.type}}</dd>
            <dt>Quantity</dt>
            <dd>{{item.quanitity}}</dd>
        </dl>
    </div>

</div>


        <div>
            <p>Strap</p>
            <dt>Name</dt>
            <dd><input type='text' ng-model='strap.name' ng-change='strap.specificsChanged = true'></dd>
            <dt>Type</dt>
            <dd><input type='text' ng-model='strap.type' ng-change='strap.specificsChanged = true'></dd>
            <dt>Quantity</dt>
            <!--NOTE I SPELLED QUANTITY WRONG LAST NIGHT ON YOUR PARSE STRAP CLASS-->
            <dd><input type='number' ng-model='strap.quanitity' ng-change='strap.specificsChanged = true'></dd>
            <button class='btn btn-primary' ng-click='saveStrap(strap)' ng-disabled='!strap.specificsChanged'> Save Strap</button>
        </div>
        <br/>
        <div class='alert alert-success' ng-show='message'>{{message}}</div>

<div ng-include="'/views/footer.html'"></div>

