<div ng-include="'/views/nav-bar.html'" xmlns="http://www.w3.org/1999/html"></div>

<div class="" ng-controller="MainCtrl">
    <div class="lead jumbotron">
        <h1>{{headline}}</h1>
    </div>

    <div class="lead row marketing">
        <h4>Handmade Italian watch straps.</h4>
        <p>Using only the finest materials available, and with techniques honed over generations, our artisans craft each and every watch strap by hand.</p>

        <h4>Find your watch strap.</h4>
    </div>

    <div class="panel panel-default marketing">
        <div class="panel-heading">
            <h3>Straps <span class="label label-primary pull-right">{{strapQuery.items.length}} Straps</span></h3>
        </div>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Update</th>
            </thead>
            <tr class="form-group form-inline" ng-repeat='item in strapQuery.items'>
                <td><input type="text" class="form-control" placeholder="Name" ng-model="item.name"></td>
                <td><input type="text" class="form-control" placeholder="Type" ng-model="item.type"></td>
                <td><input type="text" class="form-control" placeholder="Qty" ng-model="item.quantity"></td>
                <td>
                    <div class="btn-group btn-group-md">
                        <button class="btn btn-md btn-primary" ng-click="updateStrap(strap)" ng-disabled="!strapUpdate.specificsChanged"><span class="glyphicon glyphicon-upload"></span></button>
                        <button class="btn btn-md btn-danger" ng-click="deleteStrap(strap)"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </td>
            </tr>
        </table>

        <div class="panel-footer">
            <div class="alert alert-warning" ng-show="deletedMessage">{{deletedMessage}}</div>
            <div class="alert alert-info" ng-show="updatedMessage">{{updatedMessage}}</div>
        </div>
    </div>

    <div class="panel panel-default marketing">
        <div class="panel-heading">
            <h3>Create New Strap</h3>
        </div>

        <table class="table">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Save Strap</th>
            </thead>
            <tr>
                <td><input type='text' class="form-control" placeholder="Name" ng-model='strapNew.name' ng-change='strapNew.specificsChanged = true'></td>
                <td><input type='text' class="form-control" placeholder="Type" ng-model='strapNew.type' ng-change='strapNew.specificsChanged = true'></td>
                <td><input type='number' class="form-control" placeholder="Qty" ng-model='strapNew.quantity' ng-change='strapNew.specificsChanged = true'></td>
                <td>
                    <button class='btn btn-md btn-success' type="button" ng-click='saveStrap(strapNew)' ng-disabled='!strapNew.specificsChanged'>
                        Save <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </td>
            </tr>
        </table>

        <div class="panel-footer">
            <div class="alert alert-success" ng-show="savedMessage">{{savedMessage}}</div>
        </div>

    </div>
</div>

<div ng-include="'/views/footer.html'"></div>

